header{
    width: 100%;
    padding: 10px;
    background: rgb(245, 229, 232);
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav__burger{
            display: none;
        }
        .nav__collect{
            .nav__title{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                .nav__item{
                    display: flex;
                    align-items: center;
                    select{
                        background: inherit;
                        border: none;
                    }
                    .icon__img{
                        position: relative;
                        margin-right: 5px;
                        .icon{
                            position: absolute;
                            right: 0;
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:1240px) {
    header{
    width: 100%;
    padding: 20px;
    background: rgb(245, 229, 232);
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav__burger{
            display: none;
        }
        .nav__collect{
            display: none;
            flex-wrap: wrap;
            .nav__title{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                .nav__item{
                    display: flex;
                    align-items: center;
                    select{
                        background: inherit;
                        border: none;
                    }
                    .icon__img{
                      position: relative;
                      .icon{
                        position: absolute;
                        right: 0;
                        bottom: 0;
                      }
                    }
                }
            }
        }
        .nav__icon{
            display: none;
        }
    }
}
}
@media (max-width:1170px) {
    header{
    width: 100%;
    padding: 20px;
    background: rgb(245, 229, 232);
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav__burger{
            display: flex;
             .icons__img{
                      position: relative;
                      .icon{
                        position: absolute;
                        right: 0;
                        bottom: 0;
                      }
                    }
        }
        .nav__collect{
            
            .nav__title{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                .nav__item{
                    display: flex;
                    align-items: center;
                    select{
                        background: inherit;
                        border: none;
                    }
                    .icon__img{
                      position: relative;
                      .icon{
                        position: absolute;
                        right: 0;
                        bottom: 0;
                      }
                    }
                }
            }
        }
        .nav__icon{
            display: none;
        }
    }
}
}